name: CI

on:
  push:
  pull_request:

jobs:
  run-tests:
    strategy:
      fail-fast: false
      matrix: 
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: 
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12-dev"

    name: Test
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -e .
          python -m pip install pytest 
          pip install -r requirements.txt
          pip install pytest
          pip install pytest-cov
          pip install --force-reinstall pytest pytest-mock
          pip install pytest-playwright
          playwright install

      - name: Run Flask     # And save process ID
        run: |
          python app.py & 
          echo $! > flask.pid
          sleep 10
        shell: bash

      - name: Check if Flask started
        run: |
          cat flask.log
          curl -v http://127.0.0.1:5000/ || echo "Flask not responding"

      - name: Run tests
        run: |
          python -m pytest -v
          python -m pytest --cov=services --cov=. --cov-report=xml --cov-report=term -v
          python -m pytest --cov=services --cov=. --cov-branch --cov-report=xml --cov-report=term -v

      - name: Show Flask logs if tests fail
        if: failure()
        run: cat flask.log

      - name: Stop Flask app
        if: always()
        run: |
          if [ -f flask.pid ]; then
            kill $(cat flask.pid) || true
          fi
        shell: bash